<!--h2>About Compass</h2>
<p>Compass has been designed with something very specific in mind: to be a simple and elegant personal landing page.</p-->
<h2>Check out some of my current projects.</h2>
<ul>
  <li><a href="http://slocountyfire.org/intelreport">Intel Report</a>, a project for CAL FIRE San Luis Unit to display the state of the unit</li>
  <li><a href="https://github.com/radlib/radlib-cordova">RadLib</a>, an Apache Cordova plugin for interfacing mobile applications with RFID readers</li>
  <li><a href="http://slocountyfire.org/smokeybear/">Smokey Bear</a>, a project for CAL FIRE San Luis Unit to display the current adjective fire danger</li>
  <li><a href="https://github.com/growinggrounds/growinggroundsinventory">Growing Grounds Inventory</a>, an Android application used for tracking plant inventories at <a href="http://www.growinggroundsfarm.org/">Growing Grounds Farm</a></li>
</ul>

<!--p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p-->

<hr />
<h2>Let's get in touch.</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-paper-plane fa-lg main-list-item-icon"></span>
    <a href="mailto:kaysabelle@gmail.com?Subject=Hello,%20let's%20talk.">Gmail</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/kaysabelle">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="http://linkedin.com/in/katrinaysabellecruz">LinkedIn</a>
  </li>
</ul>
